.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
  margin: 0 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #fff;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font: inherit;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  height: 50px;
	border-radius: 3px;
	cursor: pointer;
}

.btn:active,
.btn:focus {
	outline: none;
}

.btn-red {
    background-color: #fb565a;
    width: 160px;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
		color: #df5f62;
		box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.btn-green {
  background-color: #00ca74;
  width: 160px;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
	color: #4dc491;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.btn-yellow {
  background-color: #efc84a;
  width: 160px;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
	color: #ebba53;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.grey {
    background-color: #eee;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  min-height: 114px;

}

.main-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 65px;

  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;

}

.main-header-logo {
padding-top: 49px;
}

.navigation-list {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;

  margin: 0;
  padding: 0;
  padding-top: 75px;
  list-style: none;
}

.navigation-list li {
  margin-left: 45px;
}

.navigation-list li:first-child {
  margin-left: 0;
}

.navigation-list .cart {
	position: relative;
  margin-left: auto;
	padding-left: 40px;
}

.navigation-list .cart:before {
	content: "";
	position: absolute;
	top: 7px;
	left: 0px;
	width: 15px;
	height: 15px;

	background: url(svg/cart-icon.svg) no-repeat 0 0;
}

.navigation-list a {
	display: block;
  color: #000;
  width: auto;
	vertical-align: middle;
}

.navigation-list a:hover,
.navigation-list a:focus
 {
  color: #fb565a;
	outline: none;
}

.navigation-list a:active
 {
	 color: #a6a6a6;
}

.main-header-logo svg:hover {
  fill: rgb(48, 48, 48, 0.8);
}

.main-header-logo svg:active {
  fill: rgb(48, 48, 48, 0.3);
}

.slider {
  margin-bottom: 80px;
	position: relative;
}

.slider input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.slider-control {
	position: absolute;
	left: 50%;
	top: 307px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-control label {
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	margin: 0 9px;
	background: white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.slider-control label::before {
	position: absolute;
	top: 5px;
	left: 5px;
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 2px solid #fff;
}

#btn-1:checked ~ .slider-control label[for="btn-1"]::before,
#btn-2:checked ~ .slider-control label[for="btn-2"]::before,
#btn-3:checked ~ .slider-control label[for="btn-3"]::before  {
	border-color: #c1c1c1;
}


.slide-list {
	height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
}

.slide {
	display: none;
  box-sizing: border-box;
  padding-top: 69px;
  height: 420px;
}


.slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 271px;
}

.slide-header {
  font-size: 55px;
	font-weight: 500;
  line-height: 55px;
  color: #000;
}

.slide-header {
  width: 515px;
  margin: 0;
  padding: 0;
}

.slide-text {
  width: 410px;
  margin: 0;
  padding: 0;
	margin-bottom: 12px;
}

.slide .btn {
  width: 240px;
}

.slide-1 {
  background: url(img/slide1.png) no-repeat 431px 7px;
}

.slide-2 {
  background: url(img/slide2.png) no-repeat 431px 7px;
}

.slide-3 {
  background: url(img/slide3.png) no-repeat 431px 7px;
}

#btn-1:checked ~ .slide-list .slide-1 {
    display: block;
}

#btn-2:checked ~ .slide-list .slide-2 {
    display: block;
}

#btn-3:checked ~ .slide-list .slide-3 {
    display: block;
}

.advantages {
  margin-bottom: 80px;
}

.advantages ul {
  min-height: 347px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage-item {
  min-height: 347px;
  width:300px;
	margin-right: 100px;
}

.advantage-item img {
	margin-bottom: 20px;
}

.advantage-header {
  font-size: 24px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;

	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.advantage-text {
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
}

.studio {
  display: flex;
	justify-content: space-between;
  margin-bottom: 57px;
	border-top: solid 2px #eeee;
}

.studio .studio-left {
  width: 660px;
	padding-top: 73px;
}

.studio .studio-right {
  width: 360px;
	padding-top: 40px;
}

.studio-header {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 600;

	padding: 0;
	margin: 0;
	margin-bottom: 34px;
}

.studio-bold {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;

	padding: 0;
	margin: 0;
}

.studio-left .studio-bold {
	margin-bottom: 23px;
}

.studio-text {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.orders-list,
.statistic {
  list-style: none;
	margin: 0;
	padding: 0;
}

.orders-list li {
	position: relative;
	margin-bottom: 24px;
	padding-left: 37px;
}

.orders-list li:last-child {
		margin-bottom: 0;
}

.orders-list li::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 27px;
	background-color: #fb565a;
	top: 11px;
	left: 0;
}

.studio-right img {
	margin-bottom: 30px;
}

.studio-right .studio-bold {
	margin-bottom: 42px;
	margin-left: 16px;
}

.statistic {
	display: flex;
	justify-content: space-between;
}

.statistic li {
		width: 120px;
}

.statistic .statistic-text {
    line-height: 18px;
		padding: 0;
		margin: 0;
}

.statistic .statistic-percent {
  font-size: 45px;
  line-height: 40px;
  color: #000;
  font-weight: bold;

	padding: 0;
	margin: 0;
	margin-bottom: 22px;
}

.clients {
  margin-bottom: 80px;
  border-top: solid 2px #eeee;
  border-bottom: solid 2px #eeee;
}

.clients ul {
  height: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.clients ul li {
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}

.clients ul li:first-child {
	padding-right: 18px;
	position: relative;
}

.clients ul li:first-child::after,
.clients ul li:nth-child(2)::after,
.clients ul li:nth-child(3)::after {
	position: absolute;
	top: 18px;
	right: 0;
	content: "";
	width: 2px;
	height: 52px;
	background-color: #eee;
}

.clients ul li:last-child {
	padding-left: 32px;
}

.clients ul li:first-child,
.clients ul li:last-child {
	padding-top: 16px;
	width: 280px;
}

.clients ul li:nth-child(2),
.clients ul li:nth-child(3) {
	position: relative;
	width: 298px;
	padding-top: 10px;
}

.clients ul li:nth-child(2)::after {
	top: 26px;
}

.clients ul li:nth-child(3)::after {
	top: 7px;
}


.clients ul li a {
	display: block;
	outline: none;
}

.clients ul li a img {
  opacity: 0.2;
}

.clients ul li a:hover img,
.clients ul li a:focus img
 {
  opacity: 1;
}

.clients ul li a:active img{
  opacity: 0.1;
}

.contacts {
	position: relative;
	box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
}

.contacts-block {
	position: absolute;
	top: 54px;
	left: 140px;

	box-sizing: border-box;
	width: 319px;
	height: 308px;
	padding:  50px 50px 47px 50px;
	background-color: #fff;
}

.contacts-block .contacts-header {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 23px;
}

.contacts-block p {
    line-height: 18px;
    color: #666;
		margin: 0;
		margin-bottom: 16px;
}

.contacts-block p:nth-child(3) {
	margin-bottom: 38px;
}

.contacts-btn {
	width: 219px;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 217px;
}

.main-footer .social-list {
	display: flex;
	justify-content: space-between;
	width: 260px;

	list-style: none;
	padding: 0;
	margin: 0;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	border-radius: 50%;
	outline: none;
}

.social-btn:hover,
.social-btn:focus
 {
	background-color: #e74246;}

.social-btn:active {
	background-color: #d7373b;
	box-shadow: 0 3px 0 #c13135 inset;
}

.social-btn:active path {
	fill: #e37376;
}

.main-footer ul {
  list-style: none;
}

.partnership {
  margin-left: 140px;
}

.partnership .partnership-header {
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-weight: bold;

	padding: 0;
	margin: 0;
	margin-bottom: 16px;
}

.partnership .sale {
  line-height: 22px;
  color: #444;

	padding: 0;
	margin: 0;
}

.popup {
	display: none;
	position: fixed;
	bottom: 180px;
	left: 50%;
	z-index: 2000;

	box-sizing: border-box;
	width: 960px;
	height: 590px;
	margin-left: -25%;
	padding: 70px 100px 84px 100px;

	color: #000;
	background: #fff;
	box-shadow: 0 30px 60px rgba(0, 0,0,0.7);
}

.popup .popup-header {
	margin: 0;
	margin-bottom: 40px;
	border: 0;
	font-size: 45px;
	line-height: 45px;
}

.popup form {
	width: 760px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.popup .popup-item {
	margin: 0;
}

.popup .popup-item:nth-child(1),
.popup .popup-item:nth-child(2) {
	margin-bottom: 35px;
}

.popup .popup-item:nth-child(3) {
	margin-bottom: 47px;
}

.popup label {
	display: block;
  font-weight: bold;
  line-height: 24px;
}

.popup-item input[type="text"],
.popup-item textarea {
	box-sizing: border-box;
	padding: 14px 15px;
	color: #a1a1a1;
  font-size: 16px;
	line-height: 18px;
  background-color: transparent;
  border: 2px solid #d7dcde;
	border-radius: 3px;
}

.popup-item input[type="text"]::placeholder {
	color: #a1a1a1;
}

.popup-item input {
	width: 360px;
}

.popup-item textarea {
	width: 760px;
	height: 118px;
	resize: none;
}

.popup-item input[type="text"]:hover,
.popup-item textarea:hover {
  border-color: #b4b9bb;
}

.popup-item input[type="text"]:focus,
.popup-item textarea:focus {
	color: #444;
  border-color: #000;
  outline: none;
}

.popup button {
	width: 260px;
}

.popup .modal-close {
	position: absolute;
	top: 78px;
	right: 90px;

	width: 21px;
	height: 21px;
	background-color: transparent;
	font-size: 0;

	border: 0;
	cursor: pointer;
	outline: none;
}

.popup .modal-close::before,
.popup .modal-close::after {
	content: "";
	position: absolute;
	top: 9px;
	right: -4px;
	height: 3px;
	width: 29px;
	background-color: #fecccd;
}

.popup .modal-close::before {
	transform: rotate(45deg);
}
.popup .modal-close::after {
		transform: rotate(-45deg);
}

.popup .modal-close:hover::before,
.popup .modal-close:hover::after {
	background-color:#fb565a;
}

.popup .modal-close:active::before,
.popup .modal-close:active::after {
	background-color:#ffeeee;
}

.popup-show {
	display: block;
	animation: bounce 0.6s;
}

.popup-error {
	animation: shake 0.6s;
}

@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}
