.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
  margin: 0 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #fff;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font: inherit;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  height: 50px;
	border-radius: 3px;
}

.btn-red {
    background-color: #fb565a;
    width: 160px;
}

.btn-red:hover {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
		color: #df5f62;
		box-shadow: 0 3px 0px #c13135 inset;
}

.btn-green {
  background-color: #00ca74;
  width: 160px;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
	color: #4dc491;
	box-shadow: 0 3px 0px #009958 inset;
}

.btn-yellow {
  background-color: #efc84a;
  width: 160px;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
	color: #ebba53;
	box-shadow: 0 3px 0px #ce961f inset;
}

.grey {
    background-color: #eee;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  min-height: 114px;

}

.main-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 65px;

  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;

}

.main-header-logo {
padding-top: 49px;
}

.navigation-list {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;

  margin: 0;
  padding: 0;
  padding-top: 75px;
  list-style: none;
}

.navigation-list li {
  margin-left: 45px;
}

.navigation-list li:first-child {
  margin-left: 0;
}

.navigation-list .cart {
	position: relative;
  margin-left: auto;
	padding-left: 40px;
}

.navigation-list .cart:before {
	content: "";
	position: absolute;
	top: 7px;
	left: 0px;
	width: 15px;
	height: 15px;

	background: url(svg/cart-icon.svg) no-repeat 0 0;
}

.navigation-list a {
	display: block;
  color: #000;
  width: auto;
	vertical-align: middle;
}

.navigation-list a:hover,
.navigation-list a:focus
 {
  color: #fb565a;
}

.navigation-list a:active
 {
	 color: #a6a6a6;
}

.main-header-logo svg:hover {
  fill: rgb(48, 48, 48, 0.8);
}

.main-header-logo svg:active {
  fill: rgb(48, 48, 48, 0.3);
}

.slider {
  margin-bottom: 80px;
}

.slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 271px;
}

.slide {
  box-sizing: border-box;
  padding-top: 69px;
  height: 420px;
}

.slide-header {
  font-size: 55px;
	font-weight: 500;
  line-height: 55px;
  color: #000;
}

.slide-header {
  width: 515px;
  margin: 0;
  padding: 0;
}

.slide-text {
  width: 410px;
  margin: 0;
  padding: 0;
	margin-bottom: 12px;
}

.slide .btn {
  width: 240px;
}

.slide-1 {
  background: url(img/slide1.png) no-repeat 431px 7px;
}

.slide-2 {
  background: url(img/slide2.png) no-repeat;
}

.slide-3 {
  background: url(img/slide3.png) no-repeat;
}

.advantages {
  margin-bottom: 80px;
}

.advantages ul {
  min-height: 347px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage-item {
  min-height: 347px;
  width:300px;
	margin-right: 100px;
}

.advantage-item img {
	margin-bottom: 20px;
}

.advantage-header {
  font-size: 24px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;

	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.advantage-text {
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
}

.studio {
  display: flex;
	justify-content: space-between;
  margin-bottom: 57px;
	border-top: solid 2px #eeee;
}

.studio .studio-left {
  width: 660px;
	padding-top: 73px;
}

.studio .studio-right {
  width: 360px;
	padding-top: 40px;
}

.studio-header {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 600;

	padding: 0;
	margin: 0;
	margin-bottom: 34px;
}

.studio-bold {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;

	padding: 0;
	margin: 0;
}

.studio-left .studio-bold {
	margin-bottom: 23px;
}

.studio-text {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.orders-list,
.statistic {
  list-style: none;
	margin: 0;
	padding: 0;
}

.orders-list li {
	position: relative;
	margin-bottom: 24px;
	padding-left: 37px;
}

.orders-list li:last-child {
		margin-bottom: 0;
}

.orders-list li::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 27px;
	background-color: #fb565a;
	top: 11px;
	left: 0;
}

.studio-right img {
	margin-bottom: 30px;
}

.studio-right .studio-bold {
	margin-bottom: 42px;
	margin-left: 16px;
}

.statistic {
	display: flex;
	justify-content: space-between;
}

.statistic li {
		width: 120px;
}

.statistic .statistic-text {
    line-height: 18px;
		padding: 0;
		margin: 0;
}

.statistic .statistic-percent {
  font-size: 45px;
  line-height: 40px;
  color: #000;
  font-weight: bold;

	padding: 0;
	margin: 0;
	margin-bottom: 22px;
}

.clients {
  margin-bottom: 80px;
  border-top: solid 2px #eeee;
  border-bottom: solid 2px #eeee;
}

.clients ul {
  height: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.clients ul li {
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}

.clients ul li:first-child {
	padding-right: 18px;
	position: relative;
}

.clients ul li:first-child::after,
.clients ul li:nth-child(2)::after,
.clients ul li:nth-child(3)::after {
	position: absolute;
	top: 18px;
	right: 0;
	content: "";
	width: 2px;
	height: 52px;
	background-color: #eee;
}

.clients ul li:last-child {
	padding-left: 32px;
}

.clients ul li:first-child,
.clients ul li:last-child {
	padding-top: 16px;
	width: 280px;
}

.clients ul li:nth-child(2),
.clients ul li:nth-child(3) {
	position: relative;
	width: 298px;
	padding-top: 10px;
}

.clients ul li:nth-child(2)::after {
	top: 26px;
}

.clients ul li:nth-child(3)::after {
	top: 7px;
}


.clients ul li a {
	display: block;
}

.clients ul li a img {
  opacity: 0.2;
}

.clients ul li a img:hover {
  opacity: 1;
}

.clients ul li a img:active {
  opacity: 0.1;
}

.contacts {
	box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
}

.contacts-block .contacts-header {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
}

.contacts-block p {
    line-height: 18px;
    color: #666;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 217px;
}

.main-footer .social-list {
	display: flex;
	justify-content: space-between;
	width: 260px;

	list-style: none;
	padding: 0;
	margin: 0;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-btn:hover {
	background-color: #e74246;}

.social-btn:active {
	background-color: #d7373b;
	box-shadow: 0 3px 0 #c13135 inset;
}

.social-btn:active path {
	fill: #e37376;
}

.main-footer ul {
  list-style: none;
}

.partnership {
  margin-left: 140px;
}

.partnership .partnership-header {
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-weight: bold;

	padding: 0;
	margin: 0;
	margin-bottom: 16px;
}

.partnership .sale {
  line-height: 22px;
  color: #444;

	padding: 0;
	margin: 0;
}

.popup label {
  font-weight: bold;
  line-height: 24px;
}

.popup-item input,
.popup-item textarea {
  font: inherit;
  background-color:: transparent;

  border: 2px solid #d7dcde;
}

.popup-item input:hover,
.popup-item textarea:hover {
  border-color: #b4b9bb;
}

.popup-item input:focus,
.popup-item textarea:focus {
  border-color: #000;
  outline: none;
}
